.centered {
  position: fixed;
  top: 50%;
  left: 50%;
   transform: translate(-50%, -50%);
}

a {
	text-decoration: none;
}

.button {
 border:1px solid #81b5a1;
 border-radius:0px;
 color:#fff;
 padding:20px;
 font-weight: bold;
 text-align: center;
 display: inline-block;
 font-size: 16px;
}

.button:hover {
background-color:#81b5a1;
color:#293e40;
}
